image: ruby:2.3

before_script:
  - apt-get update -y
  - apt-get install -y libssl-dev build-essential wget
  - wget -qO- https://raw.githubusercontent.com/creationix/nvm/v0.29.0/install.sh | bash
  - source /root/.bashrc
  - nvm install node
  - npm i -g gulp yarn
  - gem install jekyll

pages:
  type: deploy
  script:
    - yarn
    - gulp build
    - cp -R _site public
  only:
    - master
  artifacts:
    paths:
      - public

