---
layout: default
namespace: home
permalink: "/"
---
<div class="container-flex">
  <div class="d-flex flex-column align-items-center py-5 bg-grey-light">
    <h1 class="display-4 text-dark text-center">
      <mark class="text-dark typed-rewrite"></mark><br class="d-lg-none"/>{% t home.block_landing.display_title %}</h1>
    <h2 class="my-3 text-center w-75 w-md-50 subtitle">{% t home.block_landing.display_subtitle %}</h2>
    <img src="{% load_img illustrazione-visual.png %}" class="pull-up visual" alt="{% t home.block_landing.display_subtitle %}" />
    <a href='{{ site.signup_page }}' class="btn btn-primary btn-lg text-white pull-up-small">{% t home.block_landing.action %}</a>
  </div>

  <div class="container d-flex flex-column flex-md-row align-items-center justify-content-center py-5">
    <a href="https://chrome.google.com/webstore/detail/kjuicer/kgjcgankonbfhdgpfdbggfifpcabocno" class="mx-4 my-2 download d-flex align-items-center justify-content-center" target="_blank">
      <i class="fa fa-chrome fa-2x mr-3"></i>
      <div>{% t download.download %} <strong>{% t download.chrome %}</strong></div>
    </a>
    <a href="https://addons.mozilla.org/en-US/firefox/addon/kjuicer/" class="mx-4 my-2 download d-flex align-items-center justify-content-center" target="_blank">
      <i class="fa fa-firefox fa-2x mr-3"></i>
      <div>{% t download.download %} <strong>{% t download.firefox %}</strong></div>
    </a>
    <a href="{% tl bookmarklet %}" class="mx-4 my-2 download d-flex align-items-center justify-content-center" target="_blank">
      <i class="fa fa-bookmark fa-2x mr-3"></i>
      <div>{% t download.download %} <strong>{% t download.bookmarklet %}</strong></div>
    </a>
  </div>

  <div class="bg-dark pt-5 pb-2 text-center">
    <h2 class="text-light">{% t home.block_slider.title %}</h2>
    <h4 class="subtitle text-light">{% t home.block_slider.subtitle %}</h4>
  </div>
  <div id="carousel" class="pb-4 bg-dark">
    {% for slide in site.translations[site.lang]["home"].block_slider.slides %}
    {% capture image_link %}slider{{ forloop.index }}.png{% endcapture %}
    <div class="d-flex flex-column flex-sm-row justify-content-center py-5 align-items-center">
      <div class="col-sm-4 offset-sm-2">
        <img class="large-image d-block mx-auto mr-sm-0 ml-sm-auto" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="  data-src="{{ site.assets_base_url }}/{{ site.assets_dir }}/{{site.img_dir}}/{{ image_link }}" alt="{{ slide.text }}"/>
      </div>
      <div class="col-sm-6 text-center text-sm-left d-flex flex-column align-items-center d-sm-block">
        <p class="text-light lead mb-0">{{ slide.title }}</p>
        <div class="border border-secondary w-25 my-4"></div>
        <h3 class="text-light w-75">{{ slide.text }}</h3>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="bg-grey-light py-5">
  <div class="container">
    <h2 class="text-center text-dark pb-2">{% t home.block_us.title %}</h2>
    <p class="text-center subtitle index-row">{% t home.block_us.subtitle%}</p>
    <p class="text-center font-size-lower">{% t home.block_us.text %}</p>
  </div>
</div>


{% assign typed = site.translations[site.lang]["home"].block_landing.display_texts %}
<script>
  window.typedStrings = [
  {% for string in typed %}
    '{{ string }}',
  {% endfor %}
  ];
</script>
<script src="{% load_js typed %}" async></script>
