---
layout: default
namespace: home
permalink: "/"
---
<div class="container-flex">
  <div class="d-flex flex-column align-items-center py-5 bg-grey-light">
    <h1 class="display-4 text-dark text-center">
      <mark class="text-dark typed-rewrite">
        {% t home.block_landing.fallback %}
      </mark><br class="d-md-none"/>{% t home.block_landing.display_title %}</h1>
    <h2 class="my-3 text-center w-75 w-md-50 subtitle">{% t home.block_landing.display_subtitle %}</h2>
    <img src="{% load_img illustrazione-visual.png %}" class="pull-up mw-100 w-md-50 " />
    <a href='http://alpha.kjuicer.com/cache/login/' class="btn btn-primary btn-lg text-white pull-up-small">{% t home.block_landing.action %}</a>
    <!--p class="text-muted lead">{ t home.block_landing.subtext }</p-->
  </div>

  <div class="container d-flex flex-column flex-md-row align-items-center justify-content-center py-5">
    <a href="#" class="mx-3 my-2 download d-flex align-items-center justify-content-center">
      <i class="fa fa-chrome fa-2x mx-2"></i>
      <div>download <strong>Kjuicer for Chrome</strong></div>
    </a>
    <a href="#" class="mx-3 my-2 download d-flex align-items-center justify-content-center">
      <i class="fa fa-firefox fa-2x mx-2"></i>
      <div>download <strong>Kjuicer for Firefox</strong></div>
    </a>
    <a href="{% tl bookmarklet %}" class="mx-3 my-2 download d-flex align-items-center justify-content-center">
      <i class="fa fa-bookmark fa-2x mx-2"></i>
      <div>download the <strong>Bookmarklet</strong></div>
    </a>
  </div>


  {% assign blocklist = site.translations[site.lang]["home"].blocks %}

  <div class="d-flex flex-column flex-md-row index-row align-items-center pt-2 pb-1">
    <div class="col-md-4 offset-md-2 order-1">
      <img class="medium-image" src="{% load_img step1.png %}" />
    </div>
    <div class="col-md-4 px-5 text-md-left text-center order-2">
      <h2 class="mb-3 text-dark">{{ blocklist[0].title}}</h2>
      <p class="subtitle">{{ blocklist[0].text}}</p>
    </div>
  </div>





  <div class="d-flex flex-column flex-md-row index-row align-items-center pt-1 pb-2">

    <div class="col-md-4 offset-md-2 px-5 text-md-right text-center order-2 order-md-1">
      <h2 class="text-dark pb-2">{{ blocklist[1].title}}</h2>
      <p class="subtitle">{{ blocklist[1].text}}</p>
    </div>

    <div class="col-md-4 order-1 order-md-2">
      <img class="medium-image" src="{% load_img step2.png %}" />
    </div>

  </div>




  <div class="bg-dark pt-5 pb-2 text-center">
    <h2 class="text-light">{% t home.block_slider.title %}</h2>
    <h4 class="subtitle text-light">{% t home.block_slider.subtitle %}</h4>
  </div>
  <div id="carousel" class="pb-4 bg-dark">
    {% for slide in site.translations[site.lang]["home"].block_slider.slides %}
    {% capture image_link %}slider{{ forloop.index }}.png{% endcapture %}
    <div class="d-flex flex-column flex-md-row justify-content-center py-5 align-items-center">
      <div class="mx-3 w-50">
        <img class="large-image float-right" src="{{ site.assets_base_url }}/{{ site.assets_dir }}/{{site.img_dir}}/{{ image_link }}" />
      </div>
      <div class="mx-3 w-50">
        <p class="text-light lead">{{ slide.title }}</p>
        <div class="border border-white w-25 my-4"></div>
        <h3 class="text-light w-75">{{ slide.text }}</h3>
      </div>
    </div>
    {% endfor %}
  </div>





  <div class="d-flex flex-column flex-md-row index-row align-items-center pt-2 pb-1">
    <div class="col-md-4 offset-md-2 order-1">
      <img class="medium-image" src="{% load_img step3.png %}" />
    </div>
    <div class="col-md-4 py-5 text-md-left text-center order-2">
      <h2 class="text-dark">{{ blocklist[2].title}}</h2>
      <p class="subtitle">{{ blocklist[2].text}}</p>
    </div>
  </div>





  <div class="d-flex flex-column flex-md-row index-row align-items-center pt-1">
    <div class="col-md-4 px-5 text-md-right text-center order-md-1 order-2 offset-md-2">
      <h2 class="text-dark pb-2">{{ blocklist[3].title}}</h2>
      <p class="subtitle">{{ blocklist[3].text}}</p>
    </div>

    <div class="col-md-4 order-1 order-md-2">
      <img class="medium-image" src="{% load_img step4.png %}" />
    </div>

  </div>

  <div class="d-flex flex-column align-items-center py-5 bg-secondary text-center">
    <h1 class="text-dark">{% t home.block_call.title%}</h1>

    <div class="font-italic lead my-3">
      <p class="text-dark"><sup><i class="fa fa-quote-left"></i></sup> <big>{% t home.block_call.cite %}</big> <sup><i class="fa fa-quote-right"></i></sup></p>
      <p class="text-dark">{% t home.block_call.by %}</p>
    </div>

    <p class="mt-3 mb-0 font-weight-bold"><a href='http://alpha.kjuicer.com/cache/login/' class="btn btn-primary btn-lg text-white">{% t home.block_call.action %}</a></p>
  </div>

  <div class="container my-5">
    <h2 class="text-center text-dark pb-2">{% t home.block_us.title %}</h2>
    <p class="text-center subtitle index-row">{% t home.block_us.subtitle%}</p>
    <p class="text-center font-size-lower">{% t home.block_us.text %}</p>
  </div>
</div>


{% assign typed = site.translations[site.lang]["home"].block_landing.display_texts %}
<script>
  window.typedStrings = [
  {% for string in typed %}
    '{{ string }}',
  {% endfor %}
  ];
</script>
<script src="{% load_js typed %}" async></script>
