---
layout: default
namespace: pricing
permalink: /pricing/
permalink_it: /costi/
---
<div class="container">
  <h1 class="mt-5 text-dark">Pricing</h1>

  <div class="">
    {% assign features = site.translations[site.lang].pricing.features %}
    <div class="d-flex justify-content-start align-items-center py-3">
      <div class="col-6"></div>
      {% for plan in site.translations[site.lang].pricing.plans %}
        <div class="col-3 text-center text-uppercase text-dark"><h5>{{ plan }}</h5></div>
      {% endfor %}
    </div>
    {% for feature in features %}
    <div class="d-flex justify-content-start align-items-center pt-1 pb-2">
      <div class="col-6 pl-0"><strong>{{ feature.label }}</strong></div>
      <div class="col-3 text-center">{% if feature.base %}<i class="fa fa-check fa-2x text-secondary"></i>{% else %} <i class="fa fa-times fa-2x text-info"></i>{% endif %}</div>
      <div class="col-3 text-center">{% if feature.pro %}<i class="fa fa-check fa-2x text-secondary"></i>{% endif %}</div>
    </div>
    {% endfor %}
    {% assign price = site.translations[site.lang].pricing.price %}
    <div class="d-flex justify-content-start align-items-center pt-1 pb-2">
      <div class="col-6 pl-0"><strong>{{ price.label }}</strong></div>
      <div class="col-3 text-center"><h5 class="text-primary">{{ price.base }}</h5></div>
      <div class="col-3 text-center"><h5 class="text-primary">9,90€ al mese</h5></div>
    </div>
    {% assign actions = site.translations[site.lang].pricing.actions %}
    <div class="d-flex justify-content-start align-items-center p-3">
      <div class="col-6"></div>
      {% for action in actions %}
        <div class="col-3 text-center"><a href="{{ action.href }}" class="btn btn-primary text-white">{{ action.label }}</a></div>
      {% endfor %}
    </div>
  </div>

  <div class="d-flex flex-column flex-sm-row pt-5">
    <div class="col-sm-6 px-0 pr-sm-3">
      <div class="px-3 py-5 text-center bg-grey-light">
        <h2 class="text-dark mb-4">Web editor</h2>
        <h4 class="font-serif">Giornaliero</h4>
        <h5 class="text-primary mb-3">1,99€</h5>
        <h4 class="font-serif">Settimanale</h4>
        <h5 class="text-primary mb-3">4,99€</h5>
        <h4 class="font-serif">Mensile</h4>
        <h5 class="text-primary mb-3">9,90€</h5>
        <h4 class="font-serif">Annuale</h4>
        <h5 class="text-primary">99,00€</h5>
        <button class="btn btn-primary text-white mt-4">SCEGLI IL PIANO</button>
      </div>
    </div>
    <div class="col-sm-6 px-0 mt-3 mt-sm-0 pl-sm-3">
      <div class="px-3 py-5 text-center bg-grey-light">
        <h2 class="text-dark mb-4">Plugin</h2>
        <h4 class="font-serif">Fino a 2 000 visualizzazioni</h4>
        <h5 class="text-primary mb-3">Gratis</h5>
        <h4 class="font-serif">Fino a 20 000 visualizzazioni</h4>
        <h5 class="text-primary mb-3">9,90€</h5>
        <h4 class="font-serif">Fino a 200 000 visualizzazioni</h4>
        <h5 class="text-primary mb-3">44,90€</h5>
        <h4 class="font-serif">Più di 200 000?</h4>
        <h5 class="text-primary">Contattaci!</h5>
        <button class="btn btn-primary text-white mt-4">SCEGLI IL PIANO</button>
      </div>
    </div>
  </div>

</div>

<div class="bg-secondary lead text-center py-5 mt-5">
  <h2 class="text-dark mb-4">Hai domande?</h2>
  <a href="#" class="btn btn-primary text-white">Contattaci</a>
</div>
