---
layout: default
namespace: pricing
permalink: /pricing/
---
<div class="container">
  <h1 class="mt-5 text-dark">Pricing</h1>

  <div class="">
    {% assign features = site.translations[site.lang].pricing.features %}
    <div class="d-flex justify-content-start align-items-center py-3">
      <div class="col-6"></div>
      {% for plan in site.translations[site.lang].pricing.plans %}
        <div class="col-3 text-center text-uppercase text-dark"><h5>{{ plan }}</h5></div>
      {% endfor %}
    </div>
    {% for feature in features %}
    <div class="d-flex justify-content-start align-items-center pt-1 pb-2">
      <div class="col-6 pl-0"><strong>{{ feature.label }}</strong></div>
      <div class="col-3 text-center">{% if feature.base %}<i class="fa fa-check fa-2x text-secondary"></i>{% else %} <i class="fa fa-times fa-2x text-info"></i>{% endif %}</div>
      <div class="col-3 text-center">{% if feature.pro %}<i class="fa fa-check fa-2x text-secondary"></i>{% endif %}</div>
    </div>
    {% endfor %}
    {% assign price = site.translations[site.lang].pricing.price %}
    <div class="d-flex justify-content-start align-items-center pt-1 pb-2">
      <div class="col-6 pl-0"><strong>{{ price.label }}</strong></div>
      <div class="col-3 text-center"><h5 class="text-primary">{{ price.base }}</h5></div>
      <div class="col-3 text-center"><h5 class="text-primary">{{ price.pro }}</h5></div>
    </div>
    {% assign actions = site.translations[site.lang].pricing.actions %}
    <div class="d-flex justify-content-start align-items-center p-3">
      <div class="col-6"></div>
        <div class="col-3 text-center"><a href="{{ site.signup_page }}" class="btn btn-primary text-white">{{ actions[0].label }}</a></div>
        <div class="col-3 text-center"><button class="btn btn-disabled">{{ actions[1].label }}</button></div>
    </div>
  </div>

  <div class="d-flex flex-column flex-sm-row pt-5">
    <div class="col-sm-6 px-0 pr-sm-3">
      <div class="px-3 py-5 text-center bg-grey-light">
        {% assign web_editor = site.translations[site.lang].pricing.web_editor %}
        <h2 class="text-dark mb-4">Web editor</h2>
        {% for pricing in web_editor %}
          <h4 class="font-serif">{{ pricing.label }}</h4>
          <h5 class="text-primary mb-3">{{ pricing.price }}</h5>
        {% endfor %}
        <button class="btn btn-disabled text-white mt-4">{{ site.translations[site.lang].pricing.web_editor_action }}</button>
      </div>
    </div>
    <div class="col-sm-6 px-0 mt-3 mt-sm-0 pl-sm-3">
      <div class="px-3 py-5 text-center bg-grey-light">
        {% assign plugin = site.translations[site.lang].pricing.plugin %}
        <h2 class="text-dark mb-4">Plugin</h2>
        {% for pricing in plugin %}
          <h4 class="font-serif">{{ pricing.label }}</h4>
          <h5 class="text-primary mb-3">{{ pricing.price }}</h5>
        {% endfor %}
        <button class="btn btn-disabled text-white mt-4">{{ site.translations[site.lang].pricing.plugin_action }}</button>
      </div>
    </div>
  </div>

</div>

<div class="bg-secondary lead text-center py-5 mt-5">
  <h2 class="text-dark mb-4">{% t pricing.questions %}</h2>
  <a href="mailto:info@kjuicer.com" class="btn btn-primary text-white">{% t pricing.contact_us %}</a>
</div>
