<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <img class="img-fluid kj-logo" src="{{ site.baseurl }}/img/kjuicer.png" />
    </div>
    <div class="col-sm-3">
      <h3>{{ site.title }}</h3>
      <p>{{ site.description }}</p>
    </div>
    <div class="col-sm-1">
      <p>Social</p>
      <hr />
        <a href="https://twitter.com/KnowledgeJuicer"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://www.facebook.com/kjuicer/"><i class="fa fa-facebook fa-2x"></i></a>
    </div>
    <div class="col-sm-1">
      <p>Video</p>
      <hr />
        <a href="https://www.youtube.com/channel/UCleRhrYoSl9DbeU6GZu_DTQ"><i class="fa fa-youtube fa-2x"></i></a>
    </div>
    <div class="col-sm-1">
      <p>Code</p>
      <hr />
        <a href="https://github.com/kjuicer"><i class="fa fa-github fa-2x"></i></a>
    </div>
    <div class="col-sm-2">
      <p>Pages</p>
      <hr />
      <ul>
        {% for my_page in site.pages %}
        {% if my_page.title %}
          <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-2">
      <p>Extra</p>
      <hr />
      <ul>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
      </ul>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
