<footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text caps">{{site.t[page.lang].links}}</h5>
          <ul>
            {% for item in site.footer_menu[page.lang] %}
              <li><a href='{{item.href}}' class="green-text">{{item.label}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col l4 s12 offset-l4">
          <h5 class='white-text center caps'>{{site.t[page.lang].keep_in_touch}}</h5>
          <div class="row ">
            <div class='col s4 center'><a href='https://facebook.com/{{ site.facebook_page }}'><i class='zmdi zmdi-facebook-box green-text zmdi-hc-2x'></i></a></div>
            <div class='col s4 center'><a href='https://twitter.com/{{ site.twitter_username }}'><i class='zmdi zmdi-twitter-box green-text zmdi-hc-2x'></i></a></div>
            <div class='col s4 center'><a href='https://youtube.com/channel/{{ site.youtube_channel }}'><i class='zmdi zmdi-youtube-play green-text zmdi-hc-2x'></i></a></div>
          </div>
          <div class="row ">
            <div class='col s4 center'><a href='https://github.com/{{ site.github_username }}'><i class='zmdi zmdi-github-box green-text zmdi-hc-2x'></i></a></div>
            <div class='col s4 center'><a href='/feed.xml'><i class='zmdi zmdi-rss green-text zmdi-hc-2x'></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright black">
      <div class="container">
        <div class="row">
          <div class='col s12'>{{site.t[page.lang].copyright}}</div>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
  <script>
    if (Raven) {
      Raven.config('https://fb5b596ad7d24f78ad1708125218cccd@sentry.io/207916').install();
    }
    $('.button-collapse').sideNav();
    $('.parallax').parallax();
    $('#main-navigation').pushpin({ top: innerHeight });
  </script>
  {% if page.kj_viewer %}
    <script src="https://kjuicer.gitlab.io/static/0.4.1/kjuicer-static.min.js"></script>
    <script>
      new KjuicerStatic('content');
    </script>
  {% endif %}
