<footer class="page-footer black white-text">
  <div class="container py-5">
    <div class="d-flex justify-content-between pb-5">

      <div>
        <h2 class="font-weight-bold">Kjuicer</h2>
      </div>

      <div>
        <p>
          <a class="font-weight-bold" href="#">Blog</a><br/>
          <a class="font-weight-bold" href="#">Casi di utilizzo</a>
        </p>
      </div>

      <div>
        <p>
          <!--a class="font-weight-bold" href="#">Support</a><br/-->
          <a class="font-weight-bold" href="#">Contattaci</a><br/>
          <a class="font-weight-bold" href="pricing">Costi</a>
          <!--a class="font-weight-bold" href="#">About us</a-->
        </p>
      </div>

      <div class="d-flex w-25 justify-content-around">
        <p><a href=""><i class="fa fa-facebook white-text"></i></a></p>
        <p><a href=""><i class="fa fa-twitter white-text"></i></a></p>
        <p><a href=""><i class="fa fa-google-plus white-text"></i></a></p>
        <p><a href=""><i class="fa fa-instagram white-text"></i></a></p>
        <p><a href=""><i class="fa fa-youtube-play white-text"></i></a></p>
      </div>

    </div>
    <hr class="border-white mt-3" />
    <div class="d-flex justify-content-between">
      <p>2017 @ Kjuicer. <a href="#"><u>Terms of use</u></a> - <a href="#"><u>Privacy Policy</u></a></p>
      <p><span class="flag-icon flag-icon-it"></span> Italia</p>
    </div>
  </div>
</footer>


  <!--  Scripts-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
  <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
  <script>
    if (Raven) {
      Raven.config('https://fb5b596ad7d24f78ad1708125218cccd@sentry.io/207916').install();
    }
    if ($('#carousel')[0]) {
      $('#carousel').slick({
        autoplay: true,
        fade: true,
        dots: true,
        //appendDots: '#carousel-dots',
        //dotsClass: 'dots',
      });
    }

  </script>
  {% if page.kj_viewer %}
    <script src="https://kjuicer.gitlab.io/static/0.4.1/kjuicer-static.min.js"></script>
    <script>
      new KjuicerStatic('content');
    </script>
  {% endif %}
