<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel='shortcut icon' type='image/x-icon' href="{{ "/favicon.ico" | prepend: site.baseurl }}" />
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.translations[site.lang]['site'].description }}{% endif %}" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <meta content="{{ site.title }}" property="og:site_name">
{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}
{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}
{% if page.summary %}
  <meta content="{{ page.summary }}" property="og:description">
{% else %}
  <meta content="{{ site.translations[site.lang]['site'].description }}" property="og:description">
{% endif %}
{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
{% endif %}
{% if page.image %}
  <meta content="{{ site.url }}{{ site.assets}}{{ page.image }}" property="og:image">
{% else %}
  <meta content="{{ site.url }}/assets/ogimage.png" property="og:image">
{% endif %}
{% if page.kj_viewer %}
  <link href="https://kjuicer.gitlab.io/static/0.4.1/kjuicer-static.min.css" rel="stylesheet" />
{% endif %}
  <style>{% include critical.css %}</style>
  <link rel="preload" href="{% load_css main %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

  <script>
    {% include loadCss.js %}

    loadCSS("{% load_css main %}");
    loadCSS("https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css");
    loadCSS("https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css");
    loadCSS("https://fonts.googleapis.com/css?family=Roboto+Mono:700|Roboto:300,400");
  </script>
  <script>
    {% include loadImage.js %}
  </script>
  <script src="{% load_js bootstrap %}" async defer></script>
</head>
