@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700|Roboto:300,400');

.navbar-nav .nav-link.btn.btn-primary {
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-brand img {
  max-height: 3rem;
  max-width: 3rem;
}

nav.navbar {
  border-radius: 0 !important;
}

img.max-image {
  max-height: 200px;
}

img.medium-image {
  max-height: 150px;
  display: block;
  margin: auto;
}

img.small-image {
  max-height: 100px;
}

.subtitle {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  color: #878f9a;
}

.typed-cursor {
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
    animation-name: typedjsBlink;
    animation-duration: 0.7s;
    animation-timing-function: initial;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}

 @keyframes typedjsBlink{
    50% { opacity: 0.0; }
}

@-webkit-keyframes typedjsBlink{
    0% { opacity: 1; }
    50% { opacity: 0.0; }
    100% { opacity: 1; }
}

.index-row {
  font-size: 1.4rem;
}

.slick-slider.slick-dotted {
  margin: 0;

  .slick-dots {
    position: static;
    bottom: 0;
    display: flex;
    width: auto;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;

    li button:before {
      font-size: 1rem;
      color: #fff;
    }

    li.slick-active button:before {
      font-size: 1.3rem;
    }
  }
}

a.pointable {
  cursor: pointer;
}
