$kjuicer-purple: #4b4668;
$kjuicer-light-purple: #9797ff;
$kjuicer-light-green: #6cffc0;

$theme-colors: (
    "primary": $kjuicer-light-purple,
    "secondary": $kjuicer-light-green,
    "dark": $kjuicer-purple,
    "light": #f2f1ef,
    "black": #111,
    "white": #fff,
    "grey": #878f9a,
    "grey-light": #f7f7f7,
    "grey-darker": #808080,
);

$input-btn-padding-y:         .75rem !default;
$input-btn-padding-x:         2rem !default;

$input-btn-padding-y-sm:      .50rem !default;
$input-btn-padding-x-sm:      1rem !default;

$input-btn-padding-y-lg:      1rem !default;
$input-btn-padding-x-lg:      2.5rem !default;

$btn-border-width:             0;
$btn-border-radius:           2rem;
$btn-border-radius-lg:        2.5rem;
$btn-border-radius-sm:        1.5rem;

$headings-font-family: "Roboto Mono", monospace;
$font-family-sans-serif: Roboto, sans-serif;

$link-color:                map-get($theme-colors, "primary");
$link-decoration:           none;
$link-hover-color:          map-get($theme-colors, "dark");
$link-hover-decoration:     none;

$mark-bg: map-get($theme-colors, "secondary");

$dropdown-border-color: map-get($theme-colors, "secondary");
