---
layout: default
---
<div class="container-flex">
  <div class="d-flex flex-column align-items-center py-5">
    <h1 class="font-weight-bold">Il lettore super-eroe</h1>
    <p class="my-3 text-center w-50">Se tutti leggono sempre più distrattamente chi riesce a riprendere il controllo delle migliaia di testi a nostra disposizione è ormai un<mark class="green accent-2 font-weight-bold"> supereroe.</mark><br/> La sua arma segreta si chiama<mark class="green accent-2 font-weight-bold"> KJuicer </mark>e se sai leggere puoi provarla:<br/> sei pronto a fare una<mark class="green accent-2 font-weight-bold"> spremuta di conoscenza</mark>?</p>
    <img class="my-3 max-image" src="{{site.baseurl}}/img/evidenziatore.svg" />
    <p class="my-5"><a class="btn deep-purple lighten-1">GET STARTED</a></p>
  </div>

  <div class="d-flex">
    <div class="col-md-2 purple darken-3 py-5"></div>
    <div class="col-md-4 purple darken-3 py-5"></div>
    <div class="col-md-4 purple darken-3 py-5 text-light px-5">
      <img class="medium-image mb-3" src="{{site.baseurl}}/img/spremiagrumi.svg" />
      <h2 class="font-weight-bold">Con Kjuicer puoi</h2>
      <ul class="green-text">
        <li><span class="white-text">Segnare le parti più importanti del testo mentre lo leggi</span></li>
        <li><span class="white-text">Strutturare tre diversi livelli di lettura, per te o per altri</span></li>
        <li><span class="white-text">Eliminare le parti discorsive e ridondanti</span></li>
        <li><span class="white-text">Distillare le informazioni rilevanti</span></li>
        <li><span class="white-text">Condividere i tuoi estratti con i capi, collaboratori, studenti o lettori, in pubblico o in privato</span></li>
      </ul>
    </div>

    <div class="col-md-2 green accent-2 py-5"></div>
  </div>

  <div class="d-flex">
    <div class="col-md-2 green accent-2 py-5"></div>
    <div class="col-md-4 purple darken-3 py-5 text-light px-5">
      <img class="medium-image mb-3" src="{{site.baseurl}}/img/spremiagrumi.svg" />
      <h2 class="font-weight-bold">Kjuicer è pensato per</h2>
      <ul class="green-text">
        <li><span class="white-text">Chi studia (non solo a scuola)</span></li>
        <li><span class="white-text">Chi insegna (non solo a studenti)</span></li>
        <li><span class="white-text">Chi per lavoro deve leggere molti testi complessi</span></li>
        <li><span class="white-text">Chi deve filtrare le informazioni per un decisore o un gruppo di persone</span></li>
        <li><span class="white-text">Chiunque voglia prendersi cura di un testo per favorirne la diffusione</span></li>
      </ul>
    </div>
    <div class="col-md-4 purple darken-3 py-5"></div>
    <div class="col-md-2 purple darken-3 py-5"></div>
  </div>

  <div class="d-flex flex-column align-items-center py-5 green accent-2 text-center">
    <h1 class="font-weight-bold">Vuoi diventare un super-eroe della lettura?<br/> Usaci per leggere il mondo</h1>
    <p class="my-5"><a class="btn deep-purple lighten-1">GET STARTED</a></p>
  </div>

  <div class="d-flex flex-column align-items-center py-5 text-center">
    <h1>I SUPER POTERI DEL LETTORE</h1>
    <div class="d-flex justify-content-around w-75 py-5">
      <div>
        <img class="small-image my-3" src="{{site.baseurl}}/img/v.svg" />
        <h5>LIVELLI DI LETTURA</h5>
        <p class="my-3"><a class="btn deep-purple lighten-1">CONTINUA</a></p>
      </div>
      <div>
        <img class="small-image my-3" src="{{site.baseurl}}/img/brain.svg" />
        <h5>ORDINE NELLA CONOSCENZA</h5>
        <p class="my-3"><a class="btn deep-purple lighten-1">CONTINUA</a></p>
      </div>
      <div>
        <img class="small-image my-3" src="{{site.baseurl}}/img/libro.svg" />
        <h5>SINTESI A DOMICILIO</h5>
        <p class="my-3"><a class="btn deep-purple lighten-1">CONTINUA</a></p>
      </div>
    </div>
  </div>
</div>
