---
layout: default
---
<div class="container-flex">
  <div class="d-flex flex-column align-items-center py-5">
    <h1 class="display-4"><span class="green accent-2 typed-rewrite"></span>con i superpoteri</h1>
    <h2 class="my-3 text-center w-50 subtitle">Preparati a una spremuta di conoscenza!</h2>
    <img class="my-3 max-image" src="{{site.baseurl}}/img/evidenziatore.svg" />
    <a class="btn deep-purple lighten-1 my-4"><h4 class="text-white">REGISTRATI</h4></a>
    <p class="text-muted lead">È gratis!</p>
  </div>

  <div class="d-flex flex-column flex-md-row align-items-center justify-content-center py-5">
    <a href="#" class="deep-purple lighten-1 px-4 py-3 white-text mx-4 d-flex w-25 justify-content-center align-items-center font-weight-bold">
      <i class="fa fa-firefox fa-3x"></i>
      <h5 class="mx-3 white-text">Scarica l'Addon per Firefox</h5>
    </a>
    <a href="#" class="deep-purple lighten-1 px-4 py-3 white-text mx-4 d-flex w-25 justify-content-center align-items-center font-weight-bold">
      <i class="fa fa-chrome fa-3x"></i>
      <h5 class="mx-3 white-text">Scarica l'Estensione per Chrome</h5>
    </a>
  </div>




  <div class="d-flex index-row">
    <div class="col-md-2 purple darken-3 py-5"></div>
    <div class="col-md-4 purple darken-3 py-5">
      <img class="medium-image mb-3" src="{{site.baseurl}}/img/spremiagrumi.svg" />
    </div>
    <div class="col-md-4 purple darken-3 py-5 text-light px-5 text-center">
      <h2 class="white-text mb-3 pb-2">Prendi il controllo dei tuoi testi</h2>
      <p>Trattieni le informazioni rilevanti, lascia fuori il superfluo.</p>
    </div>

    <div class="col-md-2 green accent-2 py-5"></div>
  </div>





  <div class="d-flex index-row">
    <div class="col-md-2 purple darken-3 py-5"></div>
    <div class="col-md-4 purple darken-3 py-5">
      <img class="medium-image mb-3" src="{{site.baseurl}}/img/spremiagrumi.svg" />
    </div>
    <div class="col-md-4 purple darken-3 py-5 text-light px-5 text-center">
      <h2 class="white-text mb-3 pb-2">Metti ordine nei contenuti</h2>
      <p>Struttura più livelli di rilettura, diversi per lunghezza e approfondimento.</p>
    </div>

    <div class="col-md-2 green accent-2 py-5"></div>
  </div>




  <div class="deep-purple lighten-1 py-5 text-center">
    <h2 class="text-white">Cambia il tuo modo di leggere!</h2>
    <h4 class="subtitle text-light">Kjuicer è pensato per:</h4>
  </div>
  <div id="carousel" class="py-2 deep-purple lighten-1">
    <div class="d-flex flex-column flex-md-row justify-content-center py-5">
      <div class="w-50">
        <img class="medium-image mb-3 float-right" src="{{site.baseurl}}/img/spremiagrumi.svg" />
      </div>
      <div class="mx-5 w-50">
        <h5 class="white-text">Chi studia, insegna o ricerca</h5>
        <div class="border border-white w-25 my-4"></div>
        <h3 class="white-text">Studenti, insegnanti e chi non smette di imparare</h3>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-center py-5">
      <div class="w-50">
        <img class="medium-image mb-3 float-right" src="{{site.baseurl}}/img/spremiagrumi.svg" />
      </div>
      <div class="mx-5 w-50">
        <h5 class="white-text">Chi lavora con testi complessi</h5>
        <div class="border border-white w-25 my-4"></div>
        <h3 class="white-text">Avvocati, programmatori, pubblica amministrazione</h3>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-center py-5">
      <div class="w-50">
        <img class="medium-image mb-3 float-right" src="{{site.baseurl}}/img/spremiagrumi.svg" />
      </div>
      <div class="mx-5 w-50">
        <h5 class="white-text">Chi filtra informazioni per altri</h5>
        <div class="border border-white w-25 my-4"></div>
        <h3 class="white-text">Giornalisti, addetti stampa, </h3>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-center py-5">
      <div class="w-50">
        <img class="medium-image mb-3 float-right" src="{{site.baseurl}}/img/spremiagrumi.svg" />
      </div>
      <div class="mx-5 w-50">
        <h5 class="white-text">Chi vuole favorire la diffusione di un testo</h5>
        <div class="border border-white w-25 my-4"></div>
        <h3 class="white-text">Blogger, social media managers, editor</h3>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-center py-5">
      <div class="w-50">
        <img class="medium-image mb-3 float-right" src="{{site.baseurl}}/img/spremiagrumi.svg" />
      </div>
      <div class="mx-5 w-50">
        <h5 class="white-text">Chi crea contenuti</h5>
        <div class="border border-white w-25 my-4"></div>
        <h3 class="white-text">Scrittori di blogpost, contratti o divulgazione</h3>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-center py-5">
      <div class="w-50">
        <img class="medium-image mb-3 float-right" src="{{site.baseurl}}/img/spremiagrumi.svg" />
      </div>
      <div class="mx-5 w-50">
        <h5 class="white-text">Aziende e imprese</h5>
        <div class="border border-white w-25 my-4"></div>
        <h3 class="white-text">Manualistica, progettazione, gestione e condivisione delle informazioni</h3>
      </div>
    </div>
  </div>





  <div class="d-flex index-row">
    <div class="col-md-2 purple darken-3 py-5"></div>
    <div class="col-md-4 purple darken-3 py-5">
      <img class="medium-image mb-3" src="{{site.baseurl}}/img/spremiagrumi.svg" />
    </div>
    <div class="col-md-4 purple darken-3 py-5 text-light px-5 text-center">
      <h2 class="white-text mb-3 pb-2">Organizza ciò che scrivi</h2>
      <p>Assegna un grado d'importanza ai contenuti mentre li scrivi, per te e per chi ti legge.</p>
    </div>

    <div class="col-md-2 green accent-2 py-5"></div>
  </div>




  <div class="d-flex index-row">
    <div class="col-md-2 purple darken-3 py-5"></div>
    <div class="col-md-4 purple darken-3 py-5">
      <img class="medium-image mb-3" src="{{site.baseurl}}/img/spremiagrumi.svg" />
    </div>
    <div class="col-md-4 purple darken-3 py-5 text-light px-5 text-center">
      <h2 class="white-text mb-3 pb-2">Condividi il tuo lavoro</h2>
      <p>In privato con amici e colleghi, sul tuo sito o con il resto del mondo.</p>
    </div>

    <div class="col-md-2 green accent-2 py-5"></div>
  </div>

  <div class="d-flex flex-column align-items-center py-5 green accent-2 text-center">
    <h1>Diventa anche tu un super eroe della lettura!</h1>

    <div class="font-italic lead my-3">
      <p><sup><i class="fa fa-quote-left"></i></sup> <big>Kjuicer is a great contribution to the world</big> <sup><i class="fa fa-quote-right"></i></sup></p>
      <p>Alex, Olanda</p>
    </div>

    <p class="my-5 font-weight-bold"><a class="btn deep-purple lighten-1">REGISTRATI</a></p>
  </div>

  <!--div class="d-flex flex-column align-items-center py-5 text-center">
    <h1>I SUPER POTERI DEL LETTORE</h1>
    <div class="d-flex justify-content-around w-75 py-5">
      <div>
        <img class="small-image my-3" src="{{site.baseurl}}/img/v.svg" />
        <h5>LIVELLI DI LETTURA</h5>
        <p class="my-3 font-weight-bold"><a class="btn deep-purple lighten-1">CONTINUA</a></p>
      </div>
      <div>
        <img class="small-image my-3" src="{{site.baseurl}}/img/brain.svg" />
        <h5>ORDINE NELLA CONOSCENZA</h5>
        <p class="my-3 font-weight-bold"><a class="btn deep-purple lighten-1">CONTINUA</a></p>
      </div>
      <div>
        <img class="small-image my-3" src="{{site.baseurl}}/img/libro.svg" />
        <h5>SINTESI A DOMICILIO</h5>
        <p class="my-3 font-weight-bold"><a class="btn deep-purple lighten-1">CONTINUA</a></p>
      </div>
    </div>
  </div-->
  <div class="container my-5 index-row">
    <h2 class="text-center">Chi siamo</h2>
    <p class="text-center">Kjuicer è una startup innovativa con sede a Milano. È stata fondata da Giampaolo Ferradini e Francesco Frassinelli nel 2015, con lo scopo di migliorare il modo di apprendere e gestire informazioni degli esseri umani.</p>
  </div>
</div>



<script type="text/javascript" src="https://unpkg.com/typed.js@2.0.6/lib/typed.min.js"></script>
<script>
  var options = {
    strings: [
      'Leggi',
      'Impara',
      'Riassumi',
      'Ricerca',
      'Studia',
      'Schematizza',
    ],
    typeSpeed: 120,
    backDelay: 1200,
    backSpeed: 80,
    loop: true,
    //showCursor: false,
  }

  new Typed('.typed-rewrite', options)
</script>
