---
layout: default
---
{% capture full_url %}{{ site.url }}{{ site.baseurl }}{{ post.url }}{% endcapture %}
{% capture title %}{{post.title | xml_escape }}{% endcapture %}
<div class="bg-secondary py-5">
    <div class="container container-text text-center">
        <h1 class="text-dark">{{ page.title }}</h1>
        <p class="subtitle mt-4">
            {% t site.published %} <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        </p>
        <div class="d-inline-flex">
            <a onclick="window.open('http://www.facebook.com/sharer.php?t={{ title }}&u={{ full_url }}','sharer','toolbar=0,status=0,width=580,height=325')" href="javascript:void(0)" class="text-grey mx-2"><i class="fa fa-facebook"></i></a>
            <a onclick="window.open('http://twitter.com/share?text={{ title }}&url={{ full_url }}','sharer','toolbar=0,status=0,width=580,height=325')" href="javascript:void(0)" class="text-grey mx-2"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</div>

<div class="container mb-5 d-flex justify-content-center">
    <div class="my-5 container-text">
        <div id="content" class="pb-3">{{content}}</div>
        <hr />
        <div class="d-inline-flex float-right">
            <a onclick="window.open('http://www.facebook.com/sharer.php?t={{ title }}&u={{ full_url }}','sharer','toolbar=0,status=0,width=580,height=325')" href="javascript:void(0)" class="text-secondary mx-2"><i class="fa fa-facebook"></i></a>
            <a onclick="window.open('http://twitter.com/share?text={{ title }}&url={{ full_url }}','sharer','toolbar=0,status=0,width=580,height=325')" href="javascript:void(0)" class="text-grey mx-2"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</div>
